.managePaintingsContainer {
    display: grid;
    align-content: center;
    justify-content: space-around;
    margin: 50px auto;
    width: 60%;
}

.mat-form-field {
    width: 500px;
    margin: 10px 0px;
}
.manageFormBtns {
    text-align: center;
    padding: 10px;
    justify-content: space-evenly;
    display: flex;
}